.input-container {
    position: relative;
}

.input-container > img {
    position: absolute;
    top: 8px;
    left: 3px;
  }
  
.input-container > input {
    padding-left: 30px;
  }

.icons {
    size: 5px;
    margin-bottom: 10px;
}

input {
  outline: none;
 }

.invalid {
  border: 3px solid red;
}