.input-container-login {
    position: relative;
}

.input-container-login > img {
    position: absolute;
    top: 6px;
    left: 5px;
  }
  
.input-container-login > input {
    padding-left: 30px;
  }

.icons {
    size: 5px;
    margin-bottom: 10px;
}

input {
  outline: none;
 }

.invalid {
  border: 3px solid red;
}

button:disabled {
  width: 100%;
  border: 2px solid #1890ff;
  color: white;
  background: #1890ff;
  opacity: 50%;
}

@media (min-width: 600px) {
  .input-container-login > img {
    position: absolute;
    top: 20px;
    left: 5px;
  }
  input {
    padding-left: 5%;
  }
}